{% extends "base.html" %}
{% block content %}
<div class="col-span-5 flex justify-center w-full pt-44 pb-6 text-sm text-center origin-center">
    <a
            href="https://www.linkedin.com/in/ilyatrof/"
            target="_blank"
            title="LinkedIn"
    >
        <img
                src="../static/linkedin.svg"
                class="px-2 opacity-30 hover:opacity-95 hover:scale-105 duration-300 ease-in-out"
                alt="LinkedIn"
        >
    </a>
    <a
            href="https://github.com/disasstor/"
            target="_blank"
            title="GitHub"
    >
        <img
                src="../static/github.svg"
                class="px-2 opacity-30 hover:opacity-95 hover:scale-105 duration-300 ease-in-out"
                alt="GitHub"
        >

    </a>
    <a
            href="https://gitlab.com/ilyatrof/"
            target="_blank"
            title="GitLab"
    >
        <img
                src="../static/gitlab.svg"
                class="px-2 opacity-30 hover:opacity-95 hover:scale-105 duration-300 ease-in-out"
                alt="GitLab"
        >
    </a>
    <a
            href="https://hub.docker.com/u/ilyatrof/"
            target="_blank"
            title="Docker Hub"
    >
        <img
                src="../static/docker.svg"
                class="px-2 opacity-30 hover:opacity-95 hover:scale-105 duration-300 ease-in-out"
                alt="DockerHub"
        >
    </a>
</div>
{% endblock %}