{% extends "base.html" %}
{% block content %}
<!---->
<!---->
<div class="md:w-96 w-64 flex flex-row justify-center p-4">
    <form class="bg-gray-900 opacity-75 shadow-lg rounded-lg p-4 hover:opacity-95 duration-300 ease-in-out">
        <div class="">
            <img src="{{ video_thumbnail }}" class="rounded" alt="Thumbnail {{ video_title }}">
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="p-2 md:text-sm text-xs font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-cyan-400 via-lime-400">
                {{ video_title }}
            </h1>
            <div class="w-full flex justify-center">
                {% if video_data[0] %}
                    {% set data_0 = video_data[0] %}
                    {% set res_0 = data_0[0] %}
                    {% set url_0 = data_0[1] %}
		    <a href="{{ url_0 }}&title={{ video_title }}" 
		       target="_blank" 
		       class="grid" 
		       download="{{ video_title }}" 
		       name="{{ video_title }}.mp4"
		       id="start"
		    >
                    <button class="md:w-40 w-24 p-2 mr-1.5  bg-gradient-to-r from-purple-800 to-emerald-500 hover:from-cyan-300 hover:to-emerald-500 text-white font-bold rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out" type="button">
                        {{ res_0 }}
                    </button>
		    </a>
                {% endif %}
                {% if video_data[1] %}
                    {% set data_360 = video_data[1] %}
                    {% set res_360 = data_360[0] %}
                    {% set url_360 = data_360[1] %}
                    <a href="{{ url_360 }}&title={{ video_title }}"
                       target="_blank"
                       class="grid"
                       download="{{ video_title }}"
                       name="{{ video_title }}.mp4"
                    >
                    <button class="md:w-40 w-24 p-2 mr-1.5  bg-gradient-to-r from-purple-800 to-emerald-500 hover:from-cyan-300 hover:to-emerald-500 text-white font-bold rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out" type="button">
                        {{ res_360 }}
                    </button>
                </a>
                {% endif %}
                    {% if video_data[2] %}
                    {% set data_720 = video_data[2] %}
                    {% set res_720 = data_720[0] %}
                    {% set url_720 = data_720[1] %}
                    <a href="{{ url_720 }}&title={{ video_title }}"
                    target="_blank"
                    class="grid"
                    download="{{ video_title }}"
                    name="{{ video_title }}.mp4"
                    >
                    <button class="md:w-40 w-24 p-2 ml-1.5  bg-gradient-to-r from-purple-800 to-emerald-500 hover:from-cyan-300 hover:to-emerald-500 text-white font-bold rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out" type="button">
                        {{ res_720 }}
                    </button>
                {% endif %}
                </a>
            </div>
        </div>
    </form>
</div>
</div>
<!---->
<script>
      start.onclick = () => {
        const url = $('a#start').attr('href');
        const title = $('a#start').attr('name');
	console.log(title + " " + url);
        //const url = 'https://d8d913s460fub.cloudfront.net/videoserver/cat-test-video-320x240.mp4'
        const fileStream = streamSaver.createWriteStream(title)

        fetch(url).then(res => {
          const readableStream = res.body

          // more optimized
          if (window.WritableStream && readableStream.pipeTo) {
            return readableStream.pipeTo(fileStream)
              .then(() => console.log('done writing'))
          }

          window.writer = fileStream.getWriter()

          const reader = res.body.getReader()
          const pump = () => reader.read()
            .then(res => res.done
              ? writer.close()
              : writer.write(res.value).then(pump))

          pump()
        })
      }
    </script>
{% endblock %}
