{% extends "base.html" %}
{% block content %}
<!---->
<div></div>
<div></div>
<div class="container max-w-lg mx-auto items-center p-2">
    <!--Left Col-->
    <div class="justify-center overflow-y-hidden">
        <form class="bg-gray-900 grid opacity-75 shadow-lg rounded-lg p-4 hover:opacity-95 duration-300 ease-in-out">
            <div class="h-auto">
                <img src="{{ video_thumbnail }}" class="rounded" alt="Thumbnail {{ video_title }}">
            </div>
            <div class="grid justify-between ">
                <h1 class="p-2 text-xs font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-cyan-400 via-lime-400">
                    {{ video_title }}
                </h1>
                <div class="grid grid-cols-2 items-end">
                    {% if video_data[0] %}
                    {% set data_360 = video_data[0] %}
                    {% set res_360 = data_360[0] %}
                    {% set url_360 = data_360[1] %}

                    <a href="{{ url_360 }}&title={{ video_title }}"
                       target="_blank"
                       class="grid"
                       download="{{ video_title }}"
                       name="{{ video_title }}.mp4"
                    >
                        <button class="bg-gradient-to-r from-purple-800 to-emerald-500 hover:from-cyan-300 hover:to-emerald-500 text-white font-bold p-2 mr-1.5 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                                type="button">
                            {{ res_360 }}
                        </button>
                    </a>
                    {% endif %}
                    {% if video_data[1] %}
                    {% set data_720 = video_data[1] %}
                    {% set res_720 = data_720[0] %}
                    {% set url_720 = data_720[1] %}
                    <a href="{{ url_720 }}&title={{ video_title }}"
                       target="_blank"
                       class="grid">
                        <button class="bg-gradient-to-r from-purple-800 to-emerald-500 hover:from-cyan-300 hover:to-emerald-500 text-white font-bold p-2 ml-1.5 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                                type="button">
                            {{ res_720 }}
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
<div></div>
<div></div>
<!---->
{% endblock %}